.div-prize-show-top-all{
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	height: 25px;
	background: rgba(0,0,0,0.6);
}
.div-prize-show-top-all-item{
	z-index: 1;
	height: 100%;
	width: 33.33%;
	float: left;
	background: none;
	text-align: center;
    opacity: 1;
    cursor: pointer; 
}
.div-prize-show-top-all-item span{
	font-family: "楷体";
	font-weight: bolder;
	color: white;
	font-size: 20px;
}
/*具体内容*/
.div-prize-container-out{
	height: 100%;
	width: 100%;
	position: absolute;
	background: rgba(0,0,0,0.3);
	visibility: hidden;
	padding-top: 25px;
}

#wrap1{
			width: 1400px;
	        height: 600px;
	        margin-top: 30px;
	        margin-left: 50px;
            border: 2.5px solid;
            border-color: deepskyblue;
            border-radius: 20px ;
	        overflow: hidden;
		}
		#wrap1 ul{
			width: 120%;
		}
		#wrap1 ul li{
		 	list-style: none;
		 	width: 150px;
		 	height: 600px;
		 	float: left;
		 	text-align: left;
		 }
		#wrap1 ul li p{
		 	width: 150px;
		 	height: 600px;
		 	background: rgba(0,0,0,0.5);
		 	color: white;
		 	font-family: "楷体";
		 	font-weight: bolder;
		 	font-size: 30px;
		 	cursor: pointer;
		 }
		 
/******************************************************/
#wrap2{
			width: 1400px;
	        height: 600px;
	        margin-top: 30px;
	        margin-left: 50px;
	        border: 2.5px solid;
            border-color: deepskyblue;
            border-radius: 20px ;
	        overflow: hidden;
		}
		#wrap2 ul{
			width: 120%;
		}
		#wrap2 ul li{
		 	list-style: none;
		 	width: 150px;
		 	height: 600px;
		 	float: left;
		 	text-align: left;
		 }
		#wrap2 ul li p{
		 	width: 150px;
		 	height: 600px;
		 	background: rgba(0,0,0,0.5);
		 	color: white;
		 	font-family: "楷体";
		 	font-weight: bolder;
		 	font-size: 30px;
		 	cursor: pointer;
		 }
/**********************************************/
#wrap3{
			width: 1400px;
	        height: 600px;
	        margin-top: 30px;
	        margin-left: 50px;
	        border: 2.5px solid;
            border-color: deepskyblue;
            border-radius: 20px ;
	        overflow: hidden;
		}
		#wrap3 ul{
			width: 120%;
		}
		#wrap3 ul li{
		 	list-style: none;
		 	width: 150px;
		 	height: 600px;
		 	float: left;
		 	text-align: left;
		 }
		#wrap3 ul li p{
		 	width: 150px;
		 	height: 600px;
		 	background: rgba(0,0,0,0.5);
		 	color: white;
		 	font-family: "楷体";
		 	font-weight: bolder;
		 	font-size: 30px;
		 	cursor: pointer;
		 }